$primaryColor:#4cd3ec;
$lightGrey: #e6e6e6;
$lighterPrimaryColor:#dbf8ff;
$iconSize: 5rem;
$iconSizeSmall: 2.5rem;
$iconSizeSmaller: 2rem;
$secondaryColor: #e981c7;
$secondaryLightColor: #eb8dcc;

.opacity04 {
    opacity: 0.4;
}

input[type="file"] {
    display: none;
}

.height75vh {
    height: 75vh !important;
}

.title {
    font-size: 3rem;
    color: $primaryColor;
    text-align: center;
}

.card {
    width: 90%;
    padding: 15px;
    margin: 15px;
    border-radius: 20px;
    background-color: white;
    -webkit-box-shadow: 2px 7px 31px -4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 2px 7px 31px -4px rgba(0, 0, 0, 0.4);
    box-shadow: 2px 7px 31px -4px rgba(0, 0, 0, 0.4);
}

.svgIcon {
    height: $iconSizeSmaller;
    width: $iconSizeSmaller;
}

.detailContainer {
    display: flex;
    justify-content: center;
    height: auto;
    flex-direction: column;
    width: 50%;
    margin: auto;

    label {
        margin-bottom: 10px;
    }
}


#imageImporterSection {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    align-items: center;

    .imageCenterContainer {
        display: flex;
        position: relative;
        align-items: center;
        justify-items: center;
        justify-content: center;
        padding: 8px;
        background-color: #e6e6e6;
        border-radius: 15px;
        height: 45%;

        label {
            z-index: 2;
            cursor: pointer;
        }
    }

    .iconImageSmall {
        height: $iconSizeSmall;
        width: $iconSizeSmall;
        color: $lightGrey;
        z-index: 1;
    }

    label {
        position: absolute;
        z-index: 2;
        cursor: pointer;
    }

    .previewImage {
        width: auto;
        height: 45%;
        max-height: 25vh;
        background-size: contain;
        z-index: 1;
    }

    #convertIcon {
        margin: 20px 0;
    }

    .iconImage {
        height: $iconSize;
        width: $iconSize;
        color: $lighterPrimaryColor;
        z-index: 1;
    }

    .iconImageDeselected {
        color: $primaryColor;
    }

    .iconImage:hover {
        color: $lighterPrimaryColor;
    }

    .renderPreviewContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
}

.optionsSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;

    label {
        margin-bottom: 10px;
    }

    #sliderContainer {
        display: flex;
        justify-content: center;
        height: auto;
        flex-direction: column;
        width: 50%;
        margin: auto;
        margin-bottom: 25px;
    }

}

.buttonsSection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    button {
        height: 25%;
        width: 50%;
        margin: 25px;
        border: none;
        border-radius: 10px;
        padding: 1em;
        background-color: $secondaryLightColor;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    button:hover {
        cursor: pointer;
    }

    .svgIcon {
        position: absolute;
        right: 10px;
    }

    .svgIcon:before {
        content: '';
        height: 100%;
        border-bottom: solid 5px red;
        position: absolute;
        left: 0;

    }
}

#sliderContainer {
    width: 85% !important;
}

.detailContainer,
.buttonsSection>button {
    width: 85%;
}


@media (min-width: 600px) {

    .previewImage {
        max-height: 50vh !important;
        height: auto !important;
        background-size: contain;
    }

    .imageCenterContainer {
        height: auto !important;
    }

    #imageImporterSection {
        flex-direction: row;
        height: 60vh;

        .renderPreviewContainer {
            flex-direction: row;
            width: 100%;
            justify-content: space-around;
        }
    }

    .card {
        padding: 0;
        margin: 15px auto;
    }

    #sliderContainer,
    .detailContainer,
    .buttonsSection>button {
        width: 50% !important;
    }

}